PYTHON BASICS

Q1. Write a Python program to print the number and sum of prime numbers which are less than or equal to a given number.

In [26]:

def isPrime(num):
  if num == 0 or num == 1:
    return False
  for i in range(2, (num//2) + 1):
    if(num % i == 0):
      return False

  return True


def sumOfPrimes(num):
  sumArr = []
  sum = 0
  for j in range(2, num+1):
    if(isPrime(j)):
      sumArr.append(j)
      sum += j

  print(f"Prime numbers: {sumArr} less than or equal to {num}")
  print(f"Sum of prime numbers: {sum}")


sumOfPrimes(11)

Prime numbers: [2, 3, 5, 7, 11] less than or equal to 11
Sum of prime numbers: 28

Q2. Write a Python program to find the largest product of the pair of adjacent elements from a given list of integers.

In [27]:
def adj_elems_largest_product(elements):
    if len(elements) == 1:
        print("Largest Product:", elements[0])
        return
    print("Elements:", elements)
    # Check the elements next to each other and multiply
    elem1 = 0
    elem2 = 1
    largest_product = float('-inf')
    for i in range(0, len(elements)-1):
        product = elements[elem1] * elements[elem2]
        elem1 += 1
        elem2 += 1
        # Store the largest product calculated
        if product >= largest_product:
            largest_product = product

    print("Largest Product:", largest_product)

# Parse the input and provide the user with the ability to input their own test case
def elements_input():
    new_elems = []
    elements = [2,10,3,1,4,20,7,9]
    print("Here is the default test case: ", elements)
    while True:
        response = input("Would you like to change it? (y/n): ")
        response = response.lower().strip()
        if response == 'y' or response == 'yes':
            while True:
                try:
                    add_elements = int(input("Please provide an element: "))
                    new_elems.append(add_elements)
                except ValueError:
                    print("ERROR: Please enter an integer")
                    continue
                while True:
                    question = input("Do you want to continue adding? (y/n)")
                    if question == 'y' or question == 'yes':
                        break
                    elif question == 'n' or question == 'no':
                        return new_elems
                    else:
                        print("ERROR: Invalid Response. Enter 'y' for yes or 'n' for no")
                        continue
        elif response == 'n' or response == 'no':
            return elements
        else:
            print("ERROR: Invalid Response. Enter 'y' for yes or 'n' for no")
            continue

elements = elements_input()
adj_elems_largest_product(elements)

Here is the default test case:  [2, 10, 3, 1, 4, 20, 7, 9]
Elements: [2, 10, 3, 1, 4, 20, 7, 9]
Largest Product: 140

Q3. Given a password, we have to categorize it as valid or invalid. There are some checks that need to be met to be a valid password. For a invalid password, we need to return the reason for it to be invalid.

In [1]:
def validPassword(password):
  numeric = False
  upperCase = False
  lowerCase = False
  specialSymbol = False
  stringLenCheck = False

  specialChars = ['~','`','!','@','#','$','%','^','&','*','(',')','_','-','+','=','{','}','[',']','|',':',';','\"','\'','<','>',',','.','?','/']

  if(6<= len(password) <= 20):
    stringLenCheck = True

  for char in password:
    if(char.isnumeric()):
      numeric = True
    if(char.isupper()):
      upperCase = True
    if(char.islower()):
      lowerCase = True
    if(char in specialChars):
      specialSymbol = True


  if(stringLenCheck and numeric and upperCase and lowerCase and specialSymbol):
    print("Valid password!")

  if(not numeric):
    print("Invalid password! Your password needs to have at least one number!")

  if(not upperCase):
    print("Invalid password! Your password needs to have at least one uppercase letter!")

  if(not lowerCase):
    print("Invalid password! Your password needs to have at least one lowercase letter!")

  if(not specialSymbol):
    print("Invalid password! Your password needs to have at least one special symbol!")

  if(not stringLenCheck):
    print("Invalid password! Your password needs to be between 6 to 20 characters long!")

password = input("Input password")
validPassword(password)

Invalid password! Your password needs to have at least one number!
Invalid password! Your password needs to have at least one uppercase letter!
Invalid password! Your password needs to have at least one lowercase letter!
Invalid password! Your password needs to have at least one special symbol!
Invalid password! Your password needs to be between 6 to 20 characters long!

Q4. Given a password, we have to categorize it as a strong or weak one. There are some checks that need to be met to be a strong password. For a weak password, we need to return the reason for it to be weak.

In [29]:
def strengthPassword(password):
  stringLenCheck = False
  newLineSpace = False
  consecutiveChar = False
  sameStringPattern = False

  list = []


  if(9 <= len(password) <= 20):
    stringLenCheck = True

  if " " in password or '\n' in password:
    newLineSpace = True

  for i in range(0, len(password)-2):
    if(password[i] ==  password[i+1] == password[i+2]):
      consecutiveChar = True

  for i in range(0, len(password)):
    for j in range(0, len(password)):
      list.append(password[i:j])
      if((j-i >=2) and (password[i:j] in list)):
        sameStringPattern = True

  if(stringLenCheck and not newLineSpace and not consecutiveChar and not sameStringPattern):
    print("Strong Password")

  if(not stringLenCheck):
     print("Invalid password! Your password needs to be between 9 to 20 characters long!")

  if(newLineSpace):
     print("Invalid password! Your password cannot have a newline or space character!")

  if(consecutiveChar):
     print("Invalid password! Your password cannot have more than three consecutive characters!")

  if(sameStringPattern):
     print("Invalid password! Your password cannot have the same string pattern (minimum 2 characters length)!")

strengthPassword("hshhh#")

Invalid password! Your password needs to be between 9 to 20 characters long!
Invalid password! Your password cannot have more than three consecutive characters!
Invalid password! Your password cannot have the same string pattern (minimum 2 characters length)!

PYTHON FOR DATA SCIENCE

Q1. Write Python code to read in all the columns (as a DataFrame) of the file cities.csv Download cities.csv. Print the content of the columns and also the shape of the dataframe

In [7]:
import pandas as pd

# The cities.csv file is read and converted into a Pandas DataFrame
dataframe = pd.read_csv("cities.csv")
print(dataframe.shape)
dataframe.head(128)

(128, 10)

,LatD,"""LatM""","""LatS""","""NS""","""LonD""","""LonM""","""LonS""","""EW""","""City""","""State"""
0,41,5,59,"""N""",80,39,0,"""W""","""Youngstown""",OH
1,42,52,48,"""N""",97,23,23,"""W""","""Yankton""",SD
2,46,35,59,"""N""",120,30,36,"""W""","""Yakima""",WA
3,42,16,12,"""N""",71,48,0,"""W""","""Worcester""",MA
4,43,37,48,"""N""",89,46,11,"""W""","""Wisconsin Dells""",WI
...,...,...,...,...,...,...,...,...,...,...
123,39,31,12,"""N""",119,48,35,"""W""","""Reno""",NV
124,50,25,11,"""N""",104,39,0,"""W""","""Regina""",SA
125,40,10,48,"""N""",122,14,23,"""W""","""Red Bluff""",CA
126,40,19,48,"""N""",75,55,48,"""W""","""Reading""",PA
127,41,9,35,"""N""",81,14,23,"""W""","""Ravenna""",OH

Q2. Create a subset of the DataFrame from Q1 in the following way: [6 points]

    - DataFrame Subset 1: Contains columns LatD,LonD,LatM,LonM and all the rows of the original DataFrame
    - DataFrame Subset 2: Contains all columns but only first 100 rows of the original DataFrame
    - DataFrame Subset 3: Contains 2nd, 3rd and 4th column of the original DataFrame and first 10 rows

In [10]:
import pandas as pd

dataframe = pd.read_csv("cities.csv")
df1 = dataframe[['LatD',' "LonD"', ' "LatM"', ' "LonM"']]

df1.head()

   LatD   "LonD"   "LatM"   "LonM"
0    41       80        5       39
1    42       97       52       23
2    46      120       35       30
3    42       71       16       48
4    43       89       37       46

In [11]:
import pandas as pd

dataframe = pd.read_csv("cities.csv")
df2 = dataframe.iloc[:100]

df2

,LatD,"""LatM""","""LatS""","""NS""","""LonD""","""LonM""","""LonS""","""EW""","""City""","""State"""
0,41,5,59,"""N""",80,39,0,"""W""","""Youngstown""",OH
1,42,52,48,"""N""",97,23,23,"""W""","""Yankton""",SD
2,46,35,59,"""N""",120,30,36,"""W""","""Yakima""",WA
3,42,16,12,"""N""",71,48,0,"""W""","""Worcester""",MA
4,43,37,48,"""N""",89,46,11,"""W""","""Wisconsin Dells""",WI
...,...,...,...,...,...,...,...,...,...,...
95,31,27,35,"""N""",100,26,24,"""W""","""San Angelo""",TX
96,40,45,35,"""N""",111,52,47,"""W""","""Salt Lake City""",UT
97,38,22,11,"""N""",75,35,59,"""W""","""Salisbury""",MD
98,36,40,11,"""N""",121,39,0,"""W""","""Salinas""",CA
99,38,50,24,"""N""",97,36,36,"""W""","""Salina""",KS

In [30]:
import pandas as pd

dataframe = pd.read_csv("cities.csv")
df3 = dataframe.iloc[:10, 1:4]

df3

   "LatM"  "LatS"  "NS"
0       5      59   "N"
1      52      48   "N"
2      35      59   "N"
3      16      12   "N"
4      37      48   "N"
5       5      59   "N"
6      52      48   "N"
7      11      23   "N"
8      14      24   "N"
9      45       0   "N"

Q3. Write a Python code to read specific columns (LatD,LonD and City) and (LatM, LonM and State) of a CSV file (cities.csv Download cities.csv) and print the content of the columns. Also print the 'type' of data in each of the columns

In [16]:
import pandas as pd

# Dataframe is created here and specified columns are removed
df = pd.read_csv("cities.csv")
df = df.drop([' \"NS\"', ' \"EW\"', ' \"LatS\"', ' \"LonS\"'], axis=1)

print(df)

# The column type and the type of data in the column is displayed
for cols in df.columns:
    print("Column:", cols, "| Type of Data:", df[cols].dtype)

     LatD   "LatM"   "LonD"   "LonM"              "City"  "State"
0      41        5       80       39        "Youngstown"       OH
1      42       52       97       23           "Yankton"       SD
2      46       35      120       30            "Yakima"       WA
3      42       16       71       48         "Worcester"       MA
4      43       37       89       46   "Wisconsin Dells"       WI
..    ...      ...      ...      ...                 ...      ...
123    39       31      119       48              "Reno"       NV
124    50       25      104       39            "Regina"       SA
125    40       10      122       14         "Red Bluff"       CA
126    40       19       75       55           "Reading"       PA
127    41        9       81       14           "Ravenna"      OH

[128 rows x 6 columns]
Column: LatD | Type of Data: int64
Column:  "LatM" | Type of Data: int64
Column:  "LonD" | Type of Data: int64
Column:  "LonM" | Type of Data: int64
Column:  "City" | Type of Data: object
Column:  "State" | Type of Data: object

Q4. Write a Python code to write a Python list of lists (list_of_list.pkl Download list_of_list.pkl) to a csv file. After writing the CSV file, read the CSV file and display the content.

In [17]:
import pickle
import csv
import pandas as pd

# pickle package is used to load the .pkl file data into a list of lists
with open("list_of_list.pkl", "rb") as fp:
    data = pickle.load(fp)

# The list of lists is then written into a .csv file
with open('list_of_list.csv', 'w') as file:
    out = csv.writer(file)
    out.writerows(data)

# The .csv file is then converted into a Pandas DataFrame
df = pd.read_csv("list_of_list.csv")
df.head(85)

,competitorname,chocolate,fruity,caramel,peanutyalmondy,nougat,crispedricewafer,hard,bar,pluribus,sugarpercent,pricepercent,winpercent
0,Mr Good Bar,y,n,n,y,n,n,n,y,n,0.313,0.918,54.526451
1,Chewey Lemonhead Fruit Mix,n,y,n,n,n,n,n,n,y,0.732,0.511,36.017628
2,Starburst,n,y,n,n,n,n,n,n,y,0.151,0.220,67.037628
3,Gobstopper,n,y,n,n,n,n,y,n,y,0.906,0.453,46.783348
4,Haribo Gold Bears,n,y,n,n,n,n,n,n,y,0.465,0.465,57.119740
...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,Caramel Apple Pops,n,y,y,n,n,n,n,n,n,0.604,0.325,34.517681
81,Fun Dip,n,y,n,n,n,n,y,n,n,0.732,0.325,39.185505
82,Runts,n,y,n,n,n,n,y,n,y,0.872,0.279,42.849144
83,Dots,n,y,n,n,n,n,n,n,y,0.732,0.511,42.272076
84,Snickers,y,n,y,y,y,n,n,y,n,0.546,0.651,76.673782

Q5. Write a Python program to convert a Python DataFrame to a dictionary object.

In [35]:
import pandas as pd

# The .csv file is converted into a Pandas DataFrame. The DataFrame is then converted into a dictionary using the to_dict function. The dictionary is displayed in a list format
df = pd.read_csv("cities.csv")
df_to_dict = df.to_dict("dict")
print(df_to_dict)

{'LatD': {0: 41, 1: 42, 2: 46, 3: 42, 4: 43, 5: 36, 6: 49, 7: 39, 8: 34, 9: 39, 10: 48, 11: 41, 12: 37, 13: 33, 14: 37, 15: 40, 16: 26, 17: 47, 18: 41, 19: 31, 20: 44, 21: 42, 22: 44, 23: 43, 24: 42, 25: 41, 26: 38, 27: 41, 28: 46, 29: 31, 30: 38, 31: 28, 32: 32, 33: 49, 34: 46, 35: 30, 36: 43, 37: 39, 38: 32, 39: 42, 40: 33, 41: 34, 42: 36, 43: 32, 44: 37, 45: 40, 46: 44, 47: 43, 48: 39, 49: 41, 50: 33, 51: 39, 52: 27, 53: 30, 54: 47, 55: 43, 56: 32, 57: 33, 58: 40, 59: 37, 60: 44, 61: 40, 62: 40, 63: 38, 64: 39, 65: 37, 66: 42, 67: 39, 68: 47, 69: 41, 70: 43, 71: 42, 72: 32, 73: 33, 74: 44, 75: 35, 76: 32, 77: 38, 78: 47, 79: 41, 80: 41, 81: 42, 82: 32, 83: 46, 84: 27, 85: 38, 86: 35, 87: 34, 88: 33, 89: 37, 90: 37, 91: 41, 92: 32, 93: 34, 94: 29, 95: 31, 96: 40, 97: 38, 98: 36, 99: 38, 100: 38, 101: 44, 102: 44, 103: 38, 104: 39, 105: 42, 106: 44, 107: 45, 108: 29, 109: 43, 110: 38, 111: 43, 112: 33, 113: 35, 114: 41, 115: 42, 116: 43, 117: 44, 118: 37, 119: 37, 120: 39, 121: 38, 122: 45, 123: 39, 124: 50, 125: 40, 126: 40, 127: 41}, ' "LatM"': {0: 5, 1: 52, 2: 35, 3: 16, 4: 37, 5: 5, 6: 52, 7: 11, 8: 14, 9: 45, 10: 9, 11: 15, 12: 40, 13: 54, 14: 41, 15: 4, 16: 43, 17: 25, 18: 25, 19: 13, 20: 57, 21: 21, 22: 54, 23: 58, 24: 30, 25: 32, 26: 53, 27: 50, 28: 4, 29: 32, 30: 40, 31: 48, 32: 20, 33: 16, 34: 55, 35: 49, 36: 6, 37: 54, 38: 20, 39: 33, 40: 12, 41: 15, 42: 9, 43: 13, 44: 10, 45: 13, 46: 45, 47: 39, 48: 2, 49: 39, 50: 25, 51: 28, 52: 57, 53: 27, 54: 14, 55: 2, 56: 35, 57: 55, 58: 59, 59: 57, 60: 31, 61: 21, 62: 37, 63: 9, 64: 55, 65: 13, 66: 5, 67: 47, 68: 40, 69: 40, 70: 32, 71: 29, 72: 30, 73: 38, 74: 47, 75: 13, 76: 25, 77: 42, 78: 35, 79: 24, 80: 52, 81: 49, 82: 4, 83: 29, 84: 20, 85: 26, 86: 40, 87: 25, 88: 45, 89: 20, 90: 46, 91: 27, 92: 42, 93: 6, 94: 25, 95: 27, 96: 45, 97: 22, 98: 40, 99: 50, 100: 31, 101: 56, 102: 57, 103: 37, 104: 46, 105: 5, 106: 25, 107: 34, 108: 53, 109: 25, 110: 35, 111: 36, 112: 24, 113: 56, 114: 35, 115: 16, 116: 9, 117: 1, 118: 16, 119: 32, 120: 49, 121: 46, 122: 38, 123: 31, 124: 25, 125: 10, 126: 19, 127: 9}, ' "LatS"': {0: 59, 1: 48, 2: 59, 3: 12, 4: 48, 5: 59, 6: 48, 7: 23, 8: 24, 9: 0, 10: 0, 11: 0, 12: 48, 13: 0, 14: 23, 15: 11, 16: 11, 17: 11, 18: 11, 19: 11, 20: 35, 21: 36, 22: 0, 23: 47, 24: 0, 25: 59, 26: 23, 27: 59, 28: 11, 29: 59, 30: 48, 31: 35, 32: 59, 33: 12, 34: 11, 35: 47, 36: 36, 37: 0, 38: 59, 39: 36, 40: 35, 41: 35, 42: 35, 43: 12, 44: 11, 45: 47, 46: 35, 47: 0, 48: 59, 49: 0, 50: 48, 51: 12, 52: 0, 53: 0, 54: 24, 55: 59, 56: 59, 57: 11, 58: 24, 59: 35, 60: 12, 61: 36, 62: 11, 63: 0, 64: 11, 65: 12, 66: 59, 67: 59, 68: 11, 69: 48, 70: 24, 71: 24, 72: 35, 73: 23, 74: 59, 75: 47, 76: 11, 77: 35, 78: 59, 79: 35, 80: 11, 81: 11, 82: 48, 83: 24, 84: 24, 85: 23, 86: 48, 87: 11, 88: 35, 89: 24, 90: 47, 91: 0, 92: 35, 93: 36, 94: 12, 95: 35, 96: 35, 97: 11, 98: 11, 99: 24, 100: 47, 101: 23, 102: 0, 103: 11, 104: 12, 105: 59, 106: 11, 107: 11, 108: 23, 109: 48, 110: 24, 111: 36, 112: 0, 113: 23, 114: 24, 115: 12, 116: 35, 117: 12, 118: 12, 119: 24, 120: 48, 121: 12, 122: 23, 123: 12, 124: 11, 125: 48, 126: 48, 127: 35}, ' "NS"': {0: ' "N"', 1: ' "N"', 2: ' "N"', 3: ' "N"', 4: ' "N"', 5: ' "N"', 6: ' "N"', 7: ' "N"', 8: ' "N"', 9: ' "N"', 10: ' "N"', 11: ' "N"', 12: ' "N"', 13: ' "N"', 14: ' "N"', 15: ' "N"', 16: ' "N"', 17: ' "N"', 18: ' "N"', 19: ' "N"', 20: ' "N"', 21: ' "N"', 22: ' "N"', 23: ' "N"', 24: ' "N"', 25: ' "N"', 26: ' "N"', 27: ' "N"', 28: ' "N"', 29: ' "N"', 30: ' "N"', 31: ' "N"', 32: ' "N"', 33: ' "N"', 34: ' "N"', 35: ' "N"', 36: ' "N"', 37: ' "N"', 38: ' "N"', 39: ' "N"', 40: ' "N"', 41: ' "N"', 42: ' "N"', 43: ' "N"', 44: ' "N"', 45: ' "N"', 46: ' "N"', 47: ' "N"', 48: ' "N"', 49: ' "N"', 50: ' "N"', 51: ' "N"', 52: ' "N"', 53: ' "N"', 54: ' "N"', 55: ' "N"', 56: ' "N"', 57: ' "N"', 58: ' "N"', 59: ' "N"', 60: ' "N"', 61: ' "N"', 62: ' "N"', 63: ' "N"', 64: ' "N"', 65: ' "N"', 66: ' "N"', 67: ' "N"', 68: ' "N"', 69: ' "N"', 70: ' "N"', 71: ' "N"', 72: ' "N"', 73: ' "N"', 74: ' "N"', 75: ' "N"', 76: ' "N"', 77: ' "N"', 78: ' "N"', 79: ' "N"', 80: ' "N"', 81: ' "N"', 82: ' "N"', 83: ' "N"', 84: ' "N"', 85: ' "N"', 86: ' "N"', 87: ' "N"', 88: ' "N"', 89: ' "N"', 90: ' "N"', 91: ' "N"', 92: ' "N"', 93: ' "N"', 94: ' "N"', 95: ' "N"', 96: ' "N"', 97: ' "N"', 98: ' "N"', 99: ' "N"', 100: ' "N"', 101: ' "N"', 102: ' "N"', 103: ' "N"', 104: ' "N"', 105: ' "N"', 106: ' "N"', 107: ' "N"', 108: ' "N"', 109: ' "N"', 110: ' "N"', 111: ' "N"', 112: ' "N"', 113: ' "N"', 114: ' "N"', 115: ' "N"', 116: ' "N"', 117: ' "N"', 118: ' "N"', 119: ' "N"', 120: ' "N"', 121: ' "N"', 122: ' "N"', 123: ' "N"', 124: ' "N"', 125: ' "N"', 126: ' "N"', 127: ' "N"'}, ' "LonD"': {0: 80, 1: 97, 2: 120, 3: 71, 4: 89, 5: 80, 6: 97, 7: 78, 8: 77, 9: 75, 10: 103, 11: 77, 12: 82, 13: 98, 14: 97, 15: 80, 16: 80, 17: 120, 18: 122, 19: 82, 20: 89, 21: 87, 22: 97, 23: 75, 24: 92, 25: 73, 26: 77, 27: 79, 28: 118, 29: 97, 30: 87, 31: 97, 32: 90, 33: 123, 34: 98, 35: 83, 36: 75, 37: 79, 38: 95, 39: 114, 40: 87, 41: 88, 42: 95, 43: 110, 44: 104, 45: 74, 46: 85, 47: 79, 48: 95, 49: 83, 50: 94, 51: 87, 52: 82, 53: 84, 54: 122, 55: 76, 56: 82, 57: 80, 58: 75, 59: 121, 60: 89, 61: 80, 62: 103, 63: 79, 64: 83, 65: 93, 66: 72, 67: 89, 68: 117, 69: 86, 70: 96, 71: 96, 72: 93, 73: 96, 74: 106, 75: 96, 76: 87, 77: 93, 78: 122, 79: 75, 80: 103, 81: 73, 82: 81, 83: 84, 84: 82, 85: 122, 86: 105, 87: 119, 88: 117, 89: 121, 90: 122, 91: 82, 92: 117, 93: 117, 94: 98, 95: 100, 96: 111, 97: 75, 98: 121, 99: 97, 100: 106, 101: 123, 102: 93, 103: 90, 104: 94, 105: 86, 106: 72, 107: 94, 108: 81, 109: 83, 110: 121, 111: 72, 112: 104, 113: 77, 114: 109, 115: 89, 116: 77, 117: 92, 118: 79, 119: 77, 120: 84, 121: 112, 122: 89, 123: 119, 124: 104, 125: 122, 126: 75, 127: 81}, ' "LonM"': {0: 39, 1: 23, 2: 30, 3: 48, 4: 46, 5: 15, 6: 9, 7: 9, 8: 55, 9: 33, 10: 37, 11: 0, 12: 16, 13: 29, 14: 20, 15: 43, 16: 3, 17: 19, 18: 23, 19: 20, 20: 38, 21: 49, 22: 6, 23: 55, 24: 20, 25: 3, 26: 1, 27: 8, 28: 19, 29: 8, 30: 31, 31: 0, 32: 52, 33: 7, 34: 0, 35: 16, 36: 13, 37: 43, 38: 18, 39: 28, 40: 34, 41: 42, 42: 54, 43: 58, 44: 30, 45: 46, 46: 37, 47: 22, 48: 40, 49: 32, 50: 3, 51: 24, 52: 26, 53: 16, 54: 25, 55: 9, 56: 20, 57: 20, 58: 11, 59: 17, 60: 34, 61: 37, 62: 13, 63: 4, 64: 48, 65: 17, 66: 35, 67: 39, 68: 24, 69: 15, 70: 43, 71: 23, 72: 45, 73: 36, 74: 57, 75: 40, 76: 1, 77: 13, 78: 19, 79: 40, 80: 39, 81: 56, 82: 5, 83: 20, 84: 31, 85: 43, 86: 56, 87: 41, 88: 52, 89: 52, 90: 25, 91: 42, 92: 9, 93: 18, 94: 30, 95: 26, 96: 52, 97: 35, 98: 39, 99: 36, 100: 0, 101: 1, 102: 5, 103: 11, 104: 50, 105: 28, 106: 1, 107: 10, 108: 19, 109: 56, 110: 29, 111: 58, 112: 31, 113: 48, 114: 13, 115: 5, 116: 36, 117: 27, 118: 56, 119: 26, 120: 53, 121: 5, 122: 25, 123: 48, 124: 39, 125: 14, 126: 55, 127: 14}, ' "LonS"': {0: 0, 1: 23, 2: 36, 3: 0, 4: 11, 5: 0, 6: 0, 7: 36, 8: 11, 9: 0, 10: 12, 11: 0, 12: 47, 13: 23, 14: 23, 15: 12, 16: 0, 17: 11, 18: 23, 19: 59, 20: 23, 21: 48, 22: 36, 23: 11, 24: 23, 25: 0, 26: 47, 27: 23, 28: 48, 29: 23, 30: 47, 31: 36, 32: 47, 33: 12, 34: 36, 35: 47, 36: 48, 37: 48, 38: 0, 39: 12, 40: 11, 41: 35, 42: 36, 43: 12, 44: 36, 45: 11, 46: 47, 47: 47, 48: 11, 49: 24, 50: 0, 51: 36, 52: 59, 53: 47, 54: 48, 55: 0, 56: 23, 57: 59, 58: 24, 59: 24, 60: 11, 61: 12, 62: 12, 63: 11, 64: 35, 65: 24, 66: 23, 67: 0, 68: 36, 69: 0, 70: 48, 71: 23, 72: 0, 73: 36, 74: 35, 75: 48, 76: 11, 77: 48, 78: 48, 79: 11, 80: 36, 81: 59, 82: 23, 83: 59, 84: 47, 85: 12, 86: 59, 87: 59, 88: 12, 89: 47, 90: 11, 91: 35, 92: 0, 93: 35, 94: 0, 95: 24, 96: 47, 97: 59, 98: 0, 99: 36, 100: 0, 101: 47, 102: 59, 103: 24, 104: 23, 105: 48, 106: 11, 107: 11, 108: 11, 109: 24, 110: 23, 111: 12, 112: 47, 113: 0, 114: 48, 115: 59, 116: 36, 117: 35, 118: 24, 119: 59, 120: 23, 121: 23, 122: 11, 123: 35, 124: 0, 125: 23, 126: 48, 127: 23}, ' "EW"': {0: ' "W"', 1: ' "W"', 2: ' "W"', 3: ' "W"', 4: ' "W"', 5: ' "W"', 6: ' "W"', 7: ' "W"', 8: ' "W"', 9: ' "W"', 10: ' "W"', 11: ' "W"', 12: ' "W"', 13: ' "W"', 14: ' "W"', 15: ' "W"', 16: ' "W"', 17: ' "W"', 18: ' "W"', 19: ' "W"', 20: ' "W"', 21: ' "W"', 22: ' "W"', 23: ' "W"', 24: ' "W"', 25: ' "W"', 26: ' "W"', 27: ' "W"', 28: ' "W"', 29: ' "W"', 30: ' "W"', 31: ' "W"', 32: ' "W"', 33: ' "W"', 34: ' "W"', 35: ' "W"', 36: ' "W"', 37: ' "W"', 38: ' "W"', 39: ' "W"', 40: ' "W"', 41: ' "W"', 42: ' "W"', 43: ' "W"', 44: ' "W"', 45: ' "W"', 46: ' "W"', 47: ' "W"', 48: ' "W"', 49: ' "W"', 50: ' "W"', 51: ' "W"', 52: ' "W"', 53: ' "W"', 54: ' "W"', 55: ' "W"', 56: ' "W"', 57: ' "W"', 58: ' "W"', 59: ' "W"', 60: ' "W"', 61: ' "W"', 62: ' "W"', 63: ' "W"', 64: ' "W"', 65: ' "W"', 66: ' "W"', 67: ' "W"', 68: ' "W"', 69: ' "W"', 70: ' "W"', 71: ' "W"', 72: ' "W"', 73: ' "W"', 74: ' "W"', 75: ' "W"', 76: ' "W"', 77: ' "W"', 78: ' "W"', 79: ' "W"', 80: ' "W"', 81: ' "W"', 82: ' "W"', 83: ' "W"', 84: ' "W"', 85: ' "W"', 86: ' "W"', 87: ' "W"', 88: ' "W"', 89: ' "W"', 90: ' "W"', 91: ' "W"', 92: ' "W"', 93: ' "W"', 94: ' "W"', 95: ' "W"', 96: ' "W"', 97: ' "W"', 98: ' "W"', 99: ' "W"', 100: ' "W"', 101: ' "W"', 102: ' "W"', 103: ' "W"', 104: ' "W"', 105: ' "W"', 106: ' "W"', 107: ' "W"', 108: ' "W"', 109: ' "W"', 110: ' "W"', 111: ' "W"', 112: ' "W"', 113: ' "W"', 114: ' "W"', 115: ' "W"', 116: ' "W"', 117: ' "W"', 118: ' "W"', 119: ' "W"', 120: ' "W"', 121: ' "W"', 122: ' "W"', 123: ' "W"', 124: ' "W"', 125: ' "W"', 126: ' "W"', 127: ' "W"'}, ' "City"': {0: ' "Youngstown"', 1: ' "Yankton"', 2: ' "Yakima"', 3: ' "Worcester"', 4: ' "Wisconsin Dells"', 5: ' "Winston-Salem"', 6: ' "Winnipeg"', 7: ' "Winchester"', 8: ' "Wilmington"', 9: ' "Wilmington"', 10: ' "Williston"', 11: ' "Williamsport"', 12: ' "Williamson"', 13: ' "Wichita Falls"', 14: ' "Wichita"', 15: ' "Wheeling"', 16: ' "West Palm Beach"', 17: ' "Wenatchee"', 18: ' "Weed"', 19: ' "Waycross"', 20: ' "Wausau"', 21: ' "Waukegan"', 22: ' "Watertown"', 23: ' "Watertown"', 24: ' "Waterloo"', 25: ' "Waterbury"', 26: ' "Washington"', 27: ' "Warren"', 28: ' "Walla Walla"', 29: ' "Waco"', 30: ' "Vincennes"', 31: ' "Victoria"', 32: ' "Vicksburg"', 33: ' "Vancouver"', 34: ' "Valley City"', 35: ' "Valdosta"', 36: ' "Utica"', 37: ' "Uniontown"', 38: ' "Tyler"', 39: ' "Twin Falls"', 40: ' "Tuscaloosa"', 41: ' "Tupelo"', 42: ' "Tulsa"', 43: ' "Tucson"', 44: ' "Trinidad"', 45: ' "Trenton"', 46: ' "Traverse City"', 47: ' "Toronto"', 48: ' "Topeka"', 49: ' "Toledo"', 50: ' "Texarkana"', 51: ' "Terre Haute"', 52: ' "Tampa"', 53: ' "Tallahassee"', 54: ' "Tacoma"', 55: ' "Syracuse"', 56: ' "Swainsboro"', 57: ' "Sumter"', 58: ' "Stroudsburg"', 59: ' "Stockton"', 60: ' "Stevens Point"', 61: ' "Steubenville"', 62: ' "Sterling"', 63: ' "Staunton"', 64: ' "Springfield"', 65: ' "Springfield"', 66: ' "Springfield"', 67: ' "Springfield"', 68: ' "Spokane"', 69: ' "South Bend"', 70: ' "Sioux Falls"', 71: ' "Sioux City"', 72: ' "Shreveport"', 73: ' "Sherman"', 74: ' "Sheridan"', 75: ' "Seminole"', 76: ' "Selma"', 77: ' "Sedalia"', 78: ' "Seattle"', 79: ' "Scranton"', 80: ' "Scottsbluff"', 81: ' "Schenectady"', 82: ' "Savannah"', 83: ' "Sault Sainte Marie"', 84: ' "Sarasota"', 85: ' "Santa Rosa"', 86: ' "Santa Fe"', 87: ' "Santa Barbara"', 88: ' "Santa Ana"', 89: ' "San Jose"', 90: ' "San Francisco"', 91: ' "Sandusky"', 92: ' "San Diego"', 93: ' "San Bernardino"', 94: ' "San Antonio"', 95: ' "San Angelo"', 96: ' "Salt Lake City"', 97: ' "Salisbury"', 98: ' "Salinas"', 99: ' "Salina"', 100: ' "Salida"', 101: ' "Salem"', 102: ' "Saint Paul"', 103: ' "Saint Louis"', 104: ' "Saint Joseph"', 105: ' "Saint Joseph"', 106: ' "Saint Johnsbury"', 107: ' "Saint Cloud"', 108: ' "Saint Augustine"', 109: ' "Saginaw"', 110: ' "Sacramento"', 111: ' "Rutland"', 112: ' "Roswell"', 113: ' "Rocky Mount"', 114: ' "Rock Springs"', 115: ' "Rockford"', 116: ' "Rochester"', 117: ' "Rochester"', 118: ' "Roanoke"', 119: ' "Richmond"', 120: ' "Richmond"', 121: ' "Richfield"', 122: ' "Rhinelander"', 123: ' "Reno"', 124: ' "Regina"', 125: ' "Red Bluff"', 126: ' "Reading"', 127: ' "Ravenna"'}, ' "State"': {0: ' OH', 1: ' SD', 2: ' WA', 3: ' MA', 4: ' WI', 5: ' NC', 6: ' MB', 7: ' VA', 8: ' NC', 9: ' DE', 10: ' ND', 11: ' PA', 12: ' WV', 13: ' TX', 14: ' KS', 15: ' WV', 16: ' FL', 17: ' WA', 18: ' CA', 19: ' GA', 20: ' WI', 21: ' IL', 22: ' SD', 23: ' NY', 24: ' IA', 25: ' CT', 26: ' DC', 27: ' PA', 28: ' WA', 29: ' TX', 30: ' IN', 31: ' TX', 32: ' MS', 33: ' BC', 34: ' ND', 35: ' GA', 36: ' NY', 37: ' PA', 38: ' TX', 39: ' ID', 40: ' AL', 41: ' MS', 42: ' OK', 43: ' AZ', 44: ' CO', 45: ' NJ', 46: ' MI', 47: ' ON', 48: ' KS', 49: ' OH', 50: ' TX', 51: ' IN', 52: ' FL', 53: ' FL', 54: ' WA', 55: ' NY', 56: ' GA', 57: ' SC', 58: ' PA', 59: ' CA', 60: ' WI', 61: ' OH', 62: ' CO', 63: ' VA', 64: ' OH', 65: ' MO', 66: ' MA', 67: ' IL', 68: ' WA', 69: ' IN', 70: ' SD', 71: ' IA', 72: ' LA', 73: ' TX', 74: ' WY', 75: ' OK', 76: ' AL', 77: ' MO', 78: ' WA', 79: ' PA', 80: ' NB', 81: ' NY', 82: ' GA', 83: ' MI', 84: ' FL', 85: ' CA', 86: ' NM', 87: ' CA', 88: ' CA', 89: ' CA', 90: ' CA', 91: ' OH', 92: ' CA', 93: ' CA', 94: ' TX', 95: ' TX', 96: ' UT', 97: ' MD', 98: ' CA', 99: ' KS', 100: ' CO', 101: ' OR', 102: ' MN', 103: ' MO', 104: ' MO', 105: ' MI', 106: ' VT', 107: ' MN', 108: ' FL', 109: ' MI', 110: ' CA', 111: ' VT', 112: ' NM', 113: ' NC', 114: ' WY', 115: ' IL', 116: ' NY', 117: ' MN', 118: ' VA', 119: ' VA', 120: ' IN', 121: ' UT', 122: ' WI', 123: ' NV', 124: ' SA', 125: ' CA', 126: ' PA', 127: ' OH '}}

Q6. You are given a text file containing a string of words and you need to write a function to find words with a certain number of characters in the given text file. The length of the word will be the parameter of the function and will be given by the user. Remove duplicate words from the final list. [HINT - Take a look at split(), lower(), open() and input() functions in python]

In [41]:
import re

# The Data Science.txt is read and split into a list, which makes it easier to parse
def read_file():
    with open("Data Science.txt", 'r') as file:
        text = file.read()

    text_list = text.split()
    return text_list

# The user provides a particular word length. We return the user-specified length of words found in the .txt file.
def find_word_length(length):
    words_list = []
    text_list = read_file()
    for text in text_list:
        text = re.sub(r'[^\w\s]', '', text)
        if len(text) == length:
            text = text.lower()
            words_list.append(text)

    unique_elements = list(set(words_list))

    if len(unique_elements) == 0:
        print(f"There are no elements with length {length}")
        return

    print(f"Here are the words with length {length}:")
    for elems in unique_elements:
        print(f"\n{elems}")

# We parse the user input to ensure invalid input isn't entered
def length_input():
    while True:
        try:
            length = int(input("Please enter a word length: "))
        except ValueError:
            print("ERROR: Please provide a number")
            continue
        return length

length = length_input()
find_word_length(length)

Here are the words with length 1:

a